/* Get Touch Section Styles */
.gettouch-section {
	background: #161515;
	padding: 30px 0 15px;
}

.gt-text {
	overflow: hidden;
	margin-bottom: 30px;
}

.gt-text i {
	font-size: 30px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	width: 65px;
	background: #f36100;
	border-radius: 50%;
	line-height: 65px;
	margin-right: 20px;
}

.gt-text p {
	overflow: hidden;
	color: #ffffff;
	margin-bottom: 0;
	padding-top: 10px;
}

.gt-text ul {
	overflow: hidden;
	padding-top: 20px;
}

.gt-text ul li {
	list-style: none;
	font-size: 14px;
	color: #ffffff;
	margin-right: 25px;
	display: inline-block;
	position: relative;
}

.gt-text ul li:after {
	position: absolute;
	right: -18px;
	top: 0;
	content: "|";
	color: #545454;
}

.gt-text ul li:last-child {
	margin-right: 0;
}

.gt-text ul li:last-child:after {
	display: none;
}

.gt-text.email p {
	padding-top: 20px;
}

/* Footer Section Styles */
.footer-section {
	background: #000000;
	padding-top: 50px;
}

.fs-about {
	margin-bottom: 30px;
}

.fs-about .fa-logo {
	margin-bottom: 30px;
}

.fs-about .fa-logo a {
	display: inline-block;
}

.fs-about p {
	line-height: 26px;
	color: #c4c4c4;
}

.fs-about .fa-social a {
	font-size: 14px;
	color: #c4c4c4;
	margin-right: 10px;
}

.fs-about .fa-social a:last-child {
	margin-right: 0;
}

.fs-widget {
	margin-bottom: 30px;
}

.fs-widget h4 {
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 18px;
}

.fs-widget ul li {
	list-style: none;
}

.fs-widget ul li a {
	font-size: 14px;
	color: #c4c4c4;
	line-height: 30px;
}

.fs-widget .fw-recent {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #1a1a1a;
}

.fs-widget .fw-recent:last-child {
	padding-bottom: 0;
	border: none;
}

.fs-widget .fw-recent h6 {
	margin-bottom: 6px;
}

.fs-widget .fw-recent h6 a {
	color: #c4c4c4;
	letter-spacing: 0.5px;
}

.fs-widget .fw-recent ul li {
	font-size: 12px;
	color: #4d4d4d;
	display: inline-block;
	margin-right: 25px;
	position: relative;
}

.fs-widget .fw-recent ul li:last-child:after {
	display: none;
}

.fs-widget .fw-recent ul li:after {
	position: absolute;
	right: -16px;
	top: 0;
	content: "|";
}

.copyright-text {
	font-size: 14px;
	color: #c4c4c4;
	letter-spacing: 0.5px;
	border-top: 1px solid #1a1a1a;
	padding: 25px 0;
	margin-top: 15px;
}

.copyright-text a,
.copyright-text i {
	color: #f36100;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
	.gettouch-section {
		padding: 20px 0;
	}

	.gt-text {
		margin-bottom: 20px;
	}

	.gt-text i {
		font-size: 25px;
		line-height: 55px;
		height: 55px;
		width: 55px;
		margin-right: 15px;
	}

	.fs-widget ul li,
	.fs-widget .fw-recent ul li {
		margin-right: 15px;
	}

	.fs-widget .fw-recent ul li:last-child:after {
		display: none;
	}
}
