@font-face {
    font-family: poppins;
    src: url(../font/PoppinsRegular-B2Bw.otf);
}

.log-bg img {
    width: 100%;
}
/* body{
    background: linear-gradient(45deg, rgba(2,1,34,1) 49%, rgba(2,2,56,1) 55%, rgba(9,9,121,1) 74%, rgba(69,27,126,1) 91%);
} */
.login {
         background-image: url("../images/backgroundlog.jpg");
         background-position: left;
         background-size: contain;
         background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
.form {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10%;
    margin: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    background: transparent;
    -webkit-backdrop-filter: blur(8px) !important; 
     backdrop-filter: blur(8px);
    font-family: poppins; 
    background-color: rgba(1, 0, 6, 0.19);
    /* background-color: rgba(0, 0, 0, 0.78); */
}
.form-control {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgb(255, 255, 255);
    font-size: small;
    padding: 2.5%;
}
.form-control:focus {
    background-color: transparent;
    color: rgb(255, 255, 255);
    box-shadow: none;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
}
.form-password:focus {
    border-right: none !important;
}
.form-label {
    color: white;
    font-size: small;
}
.input-group-text {
    background: transparent !important;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255) !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none !important;
}
.form-password {
    border-right: none;
}
.log-submit {
    width: 100%;
    font-size: small;
    background-color: #582bff;
    color: white;
    width: 90%;
}
.log-submit:hover {
    background-color: #361a9c;
    color: white;
}
.signin-p {
    color: rgb(255, 255, 255);
    font-size: small;
    text-align: center;
    text-decoration: none;
}
.signin-a {
    text-decoration: none;
    margin-left: 2%;
    color: #582bff;
    font-weight: 900;
}
.bi-lock-fill {
    display: none;
}
form p {
    font-size: small;
    text-align: center;
}
.register {
    background-image: url(../images/backgroundreg.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reg-form {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5%;
    margin-left: 2%;
    margin-top: 8.5%;
    margin-bottom: 8.5%;
    background: transparent;
    backdrop-filter: blur(8px);
    font-family: poppins;
    background-color: rgba(1, 0, 6, 0.19);
}
.select-goal{
    background-color:rgba(1, 0, 6,.19) !important;
    color: white !important;
    border-radius: 1px solid white !important;
    outline: none !important;
    font-family:poppins !important ;
}
.select-goal:focus{
    background-color:rgba(1, 0, 6) !important;
}
.goal-option{
    font-family:poppins !important ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
::placeholder {
    color: white !important;
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: white !important;
  }